name: Build
# on:
#   pull_request:
#     branches:
#       - master
on:
  push:
    branches:
      - develop
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      # TODO build, test and deploy project
      # Build
      - name: Setup Python 3
        uses: actions/setup-python@v2
        with:
           python-version: 3.8

      - name: Install
        run: |
            pip install .
            pip install -r requirements_dev.txt

      - name: Run tests
        run: |
            pytest .

      - name: Build, Push and Deploy to Heroku #set the whatever name you want to this step
        id: heroku
        uses: jctaveras/heroku-deploy@v1.0.0  # use the latest version of the action
        with:
          email: ${{ secrets.HEROKU_EMAIL }} # your heroku email
          api_key: ${{ secrets.HEROKU_API_KEY }} # your  heroku api key
          app_name: ${{ secrets.HEROKU_APP_NAME }} # you aplication name
          dockerfile_path: '.' # set the path to the folder wher the Dokerfile is located

      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v3

      # - name: Run API Tests
      #   id: run-newman
      #   uses: anthonyvscode/newman-action@v1
      #   with:
      #     collection: postman/[ins  t] Lab1.postman_collection.json
      #     environment: postman/[inst][heroku] Lab1.postman_environment.json
      #     delayRequest: 50
      #     reporters: cli